{% extends 'layout.html' %}

{% block title %}
    {{titulo}}
{% endblock title %}

{% block content %}
    <h1 class="title"> {{titulo}} </h1>
    <ul>
        {% for autor in autores %}
            <li>
                <h4> 
                    {{autor.id}} - {{autor.apellido}}, {{autor.nombre}}
                </h4>
                <span>
                    Creado: {{autor.creado}}
                </span>
                <p>
                    <a href="{% url 'eliminar_autor' id=autor.id %}">
                        Eliminar
                    </a>
                </p>
            </li>
         {% endfor %}
    </ul>    
{% endblock content %}